{% extends "_layouts/cp" %}

{% set groupId = groupId is defined ? groupId : craft.app.request.getQueryParam('groupId') %}
{% set title = isNewSchedule ? 'New a schedule'|t('schedule') : 'Edit: {name}'|t('schedule', {name: schedule.name}) %}
{% set fullPageForm = true %}
{% set crumbs = [{
    label: 'Schedule'|t('schedule'),
    url: url('schedule')
}] %}

{% set tabs = [
    {label: "Settings"|t('app'), url: '#settings'},
    {label: "Timers"|t('schedule'), url: '#timers'},
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    <div id="settings" class="schedule-settings">
        <input type="hidden" name="action" value="schedule/schedules/save-schedule">
        <input type="hidden" name="scheduleId" value="{{ schedule.id }}">

        {{ forms.selectField({
            label: 'Group'|t('app'),
            id: 'groupId',
            name: 'groupId',
            value: schedule.groupId ?? groupId,
            options: groupOptions,
        }) }}

        {{ forms.textField({
            label: 'Name'|t('app'),
            required: true,
            id: 'name',
            name: 'name',
            value: schedule.name,
            errors: schedule.getErrors('name'),
        }) }}

        {{ forms.textField({
            label: 'Handle'|t('app'),
            required: true,
            id: 'handle',
            name: 'handle',
            value: schedule.handle,
            errors: schedule.getErrors('handle'),
        }) }}

        {#options: [#}
        {#{'label': 'Every Minute'|t('schedule'), value: 'erveryMinute'},#}
        {#{'label': 'Hourly'|t('schedule'), value: 'hourly'},#}
        {#{'label': 'Daily'|t('schedule'), value: 'daily'},#}
        {#{'label': 'Weekly'|t('schedule'), value: 'weekly'},#}
        {#{'label': 'Monthly'|t('schedule'), value: 'monthly'},#}
        {#{'label': 'Yearly'|t('schedule'), value: 'yearly'},#}

        {#{'label': 'At Time'|t('schedule'), value: 'atTime'},#}
        {#{'label': 'Daily At'|t('schedule'), value: 'hourlyAt'},#}
        {#{'label': 'Weekdays'|t('schedule'), value: 'weekdays'},#}

        {#{'label': 'Mondays'|t('schedule'), value: 'mondays'},#}
        {#{'label': 'Days'|t('schedule'), value: 'days'},#}


        {#{'label': 'Custom'|t('schedule'), value: 'custom'}#}
        {#],#}

        <hr>

        {{ forms.selectField({
            label: 'Schedule Type'|t('schedule'),
            name: 'type',
            value: className(schedule),
            options: scheduleTypeOptions,
            toggle: true,
        }) }}

        {% for scheduleType in scheduleTypes %}
            {% set isCurrent = (scheduleType == className(schedule)) %}

            <div id="{{ scheduleType|id }}"{% if not isCurrent %} class="hidden"{% endif %}>
                {% namespace 'types[' ~ scheduleType ~']' %}
                    {% if isCurrent %}
                        {{ schedule.getSettingsHtml()|raw }}
                    {% else %}
                        {{ scheduleInstances[scheduleType].settingsHtml|raw }}
                    {% endif %}
                {% endnamespace %}
            </div>
        {% endfor %}

        <hr>

        {{ forms.textareaField({
            label: 'Description'|t('app'),
            id: 'description',
            name: 'description',
            value: schedule.description,
            errors: schedule.getErrors('description'),
        }) }}

    </div>

    <div id="timers" class="hidden">

        {{ forms.selectField({
            label: "When to execute?"|t('schedule'),
            id: 'timerType',
            name: 'timerType',
            value: schedule.timer,
            options: timerTypeOptions,
            toggle: true,
        }) }}

        <div id="timers">
            {% for timerType in timerTypes %}
                {% set isCurrent = (timerType == schedule.timer or (isCurrent is not defined and schedule.timer == null)) %}

                <div id="{{ timerType|id }}"{% if not isCurrent %} class="hidden"{% endif %}>
                    {% namespace "timers[" ~ timerType ~ "]" %}
                        {{ timerInstances[timerType].settingsHtml|raw }}
                    {% endnamespace %}
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}