{% extends "_layouts/cp" %}

{% set groupId = groupId is defined ? groupId : craft.app.request.getQueryParam('groupId') %}
{% set title = isNewSchedule ? 'New a schedule'|t('schedule') : 'Edit: {name}'|t('schedule', {name: schedule.name}) %}
{% set fullPageForm = true %}
{% set crumbs = [{
    label: 'Schedule'|t('schedule'),
    url: url('schedule')
}] %}

{% set tabs = [
    {label: "Settings"|t('app'), url: '#settings'},
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    <div id="settings" class="schedule-settings">
        <input type="hidden" name="action" value="schedule/schedules/save-schedule">
        <input type="hidden" name="scheduleId" value="{{ schedule.id }}">

        {{ forms.selectField({
            label: 'Group'|t('app'),
            id: 'groupId',
            name: 'groupId',
            value: schedule.groupId ?? groupId,
            options: groupOptions,
        }) }}

        {{ forms.textField({
            label: 'Name'|t('app'),
            required: true,
            id: 'name',
            name: 'name',
            value: schedule.name,
            errors: schedule.getErrors('name'),
        }) }}

        {{ forms.textField({
            label: 'Handle'|t('app'),
            required: true,
            id: 'handle',
            name: 'handle',
            value: schedule.handle,
            errors: schedule.getErrors('handle'),
        }) }}

        {{ forms.lightswitchField({
            label: 'Enabled Log'|t('schedule'),
            id: 'enabledLog',
            name: 'enabledLog',
            on: schedule.enabledLog,
            errors: schedule.getErrors('enabledLog'),
        }) }}

        <hr>

        {{ forms.selectField({
            label: 'Schedule Type'|t('schedule'),
            name: 'type',
            value: className(schedule),
            options: scheduleTypeOptions,
            toggle: true,
        }) }}

        {% for scheduleType in scheduleTypes %}
            {% set isCurrent = (scheduleType == className(schedule)) %}

            <div id="{{ scheduleType|id }}"{% if not isCurrent %} class="hidden"{% endif %}>
                {% namespace 'types[' ~ scheduleType ~']' %}
                    {% if isCurrent %}
                        {{ schedule.getSettingsHtml()|raw }}
                    {% else %}
                        {{ scheduleInstances[scheduleType].settingsHtml|raw }}
                    {% endif %}
                {% endnamespace %}
            </div>
        {% endfor %}

        <hr>

        {{ forms.textareaField({
            label: 'Description'|t('app'),
            id: 'description',
            name: 'description',
            value: schedule.description,
            errors: schedule.getErrors('description'),
        }) }}

    </div>
{% endblock %}