{% extends "_layouts/cp" %}
{% set title = "Schedules"|t("schedule") %}

{% block actionButton %}
    {% set newScheduleUrl = url('schedule/new', (groupId is defined ? { groupId: groupId } : null)) %}
    <a href="{{ newScheduleUrl }}" class="submit btn add icon">{{ "New schedule"|t('schedule') }}</a>
{% endblock %}

{% block sidebar %}
    <nav>
        <ul id="groups">
            <li><a href="{{ url('schedule') }}"{% if not groupId %} class="sel"{% endif %}>{{ 'Ungrouped'|t('schedule') }}</a></li>
            {% for group in groups %}
                <li><a href="{{ url('schedule/groups/'~group.id) }}"{% if groupId is defined and group.id == groupId %} class="sel"{% endif %} data-id="{{ group.id }}">{{ group.name|t('site') }}</a></li>
            {% endfor %}
        </ul>
    </nav>

    <div class="buttons">
        <div id="newgroupbtn" class="btn add icon">{{ "New group"|t('app') }}</div>

        {% if groupId %}
            <div id="groupsettingsbtn" class="btn settings icon menubtn" title="{{ 'Settings'|t('app') }}"></div>
            <div class="menu">
                <ul>
                    <li><a data-action="rename" role="button">{{ "Rename selected group"|t('app') }}</a></li>
                    <li><a data-action="delete" role="button">{{ "Delete selected group"|t('app') }}</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}

{% endblock %}