{% extends "schedule/_layouts/settings" %}

{% set fullPageFomr = true %}
{% set settings = craft.schedule.settings %}

{% import "_includes/forms" as forms %}

{% block content %}
    <h2>{{ "General Settings"|t('schedule') }}</h2>

    <form method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="schedule/settings/save-general">
        {{ csrfInput() }}

        {{ forms.autoSuggestField({
            label: "Custom Cp Nav Name"|t('schedule'),
            id: "customCpNavName",
            name: "customCpNavName",
            value: settings.customCpNavName,
            errors: settings.getErrors('customCpNavName'),
            suggestEnvVars: true,
        }) }}

        {{ forms.autoSuggestField({
            label: "CLI Path"|t('schedule'),
            id: "cliPath",
            name: "cliPath",
            value: settings.cliPath,
            errors: settings.getErrors('cliPath'),
            suggestEnvVars: true,
        }) }}

        <button class="btn submit">{{ "Save"|t('app') }}</button>
    </form>
{% endblock %}