<p>{{ "This is a time setting in Crontab format. For example:"|t('schedule') }} <code>* * * * *</code></p>

<input id="minute" class="text" type="text" name="minute" value="{{ minute }}">
<label for="minute">{{ 'Minute'|t('schedule') }}</label>

<input id="hour" class="text" type="text" name="hour" value="{{ hour }}">
<label for="hour">{{ 'Hour'|t('schedule') }}</label>

<input id="day" class="text" type="text" name="day" value="{{ day }}">
<label for="day">{{ 'Day'|t('schedule') }}</label>

<input id="month" class="text" type="text" name="month" value="{{ month }}">
<label for="month">{{ 'Month'|t('schedule') }}</label>

<input id="week" class="text" type="text" name="week" value="{{ week }}">
<label for="week">{{ 'Week'|t('schedule') }}</label>